.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid black;
  padding: 10px;
}

.header{
  padding: 14px;
}

h1 { 
    color: black;
}

h3 { 
  color: black;
}

body  {
  padding: 14px;
  background-color: green;
}